html, body {
    font-family: 'Lora', Serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
    }

p {
    font-size: 14px;
    font-weight:normal;
    text-align: left;
    }

.navbar {
    width: 100%;
    overflow: auto;
    display: flex; 
    justify-content: space-around;
    background-color: white;
  }

  .navbar a {
    color: #646361;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: lightgrey;
  }
  
  /* Current/active navbar link */
  .active {
    color: black;
  }

  .top-container {
      display:flex;
      justify-content: center;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Make the padding value equal to the height of the navbar */
  .sticky + .content-wrapper {
    padding-top: 22px;
  }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body {
    background-color: lightblue;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
    background-color: lightgoldenrodyellow;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
    background-color: lightgrey;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-color: lightgrey;
        }
}
